<h1>Welcome</h1>
<p>Welcome to my blog. My name is Alan Beech and I'm a mobile application and web developer based in the south west of the UK. In this new blog I intend to document my explorations with technologies which interest me, in particular web, .net and Xamarin. </p>
<h2>Recent Blog Posts</h2>

<a [routerLink]="['XamarinFormsDetectSwipe']">
    <strong>
        Xamarin Forms - Detect Swipe - Friday 22nd April 2016
    </strong>

    <p>In this blog post I detail the steps involved in detecting left/right/up/down swipes on an image in Xamarin Forms something at the time of writing this post is not built in to the Xamarin Forms abstractions. I use custom renderers creating a 'SwipeableImage' component in order to achieve this which adds Swipe events to the standard Image control.</p>
</a>

<p>
<a style="color: Red" href="https://alan-beech.com/">Note: Plese find my full blog here</a>
</p>
