<h1>About me</h1>

<p>Welcome to my blog and thanks for taking the time to read this.</p>

<p>My name is Alan Beech, I live in the South West of the UK and I&rsquo;ve been a software developer for 19 years since leaving university where I studied computer science. For 16 of those 19 years I&rsquo;ve worked as a freelance/contract developer in large enterprises mainly using Microsoft technologies to produce web and in more recent years mobile applications for both internal and external consumption.</p>

<p>My journey into software development started long before my university days when a Sinclair ZX81 was brought into my secondary school in the early 80&rsquo;s. Before long every school break time was spent writing programs on the ZX81, Spectrum and BBC Micro&hellip; I was hooked.</p>

<p>I spend a huge amount of time outside my normal working hours trying to perfect my software development skills watching training videos, reading blogs and attending and helping out at developer conferences. I&rsquo;m also usually working on a number of side projects which enables me to solidify my learning whilst working with the latest technologies which often take their time to get to the enterprise.</p>

<p>Hopefully my posts here will help people out in the way that the blogs of others have helped me learn and understand things over the years.</p>

<p>Thanks again for reading.</p>

<p><strong>Alan Beech</strong></p>

<p>April 2016</p>

<p>
    Twitter: <a href="http://twitter.com/alanbeech" target="_blank">@alanbeech</a>
</p>
<p>
    Github: <a href="https://github.com/alanbeech" target="_blank">GitHub</a>
</p>
